*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    height:50px;
    padding: 10px;
    background-color:lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 500px){
    .container{
        display: none;
    }
}